<template lang="pug">
  .form
    transition(name="slide-fade" mode="out-in")
      .loading(v-if="loading && !submitted" key="loading")
        Circle9
      .submitted(v-if="submitted" key="submitted")
        h1 ¡Gracias!

      form(@submit.prevent="validateBeforeSubmit" v-if="!loading" key="form")
        v-select.car(v-model="lead.car" placeholder="Modelo" name="car" :options="getCars")
        input.input.name(type="text" v-model="lead.name" placeholder="(*) Nombre" v-validate="'required'" name="name" :class="{error: errors.has('name')}")
        input.input.surname(type="text" v-model="lead.surname"  placeholder="(*) Apellido" v-validate="'required'" name="surname" :class="{error: errors.has('surname')}")
        input.input.rut(type="text" v-model="lead.rut"  placeholder="RUT" v-validate="'rut'" v-rut:live name="rut" :class="{error: errors.has('rut')}")
        v-select.commune(v-model="lead.commune" placeholder="Comuna" name="commune" :options="getCommunes")
        input.input.telephone(type="tel" v-model="lead.telephone" placeholder="(*) Teléfono" v-validate="'required'" name="telephone" :class="{error: errors.has('telephone')}")
        input.input.email(type="email" v-model="lead.email" placeholder="(*) Email" v-validate="'required|email'" name="email" :class="{error: errors.has('email')}")
        .box-img
          .text-error(v-show="errors.items.length > 0") Corrija los errores
          img(v-show="errors.items.length === 0" src="assets/img-citroen-descuento.jpg")
        .box-submit
          p COTIZA
          button(type="submit") AQUÍ

</template>

<script>
import { Validator } from 'vee-validate'
import { rutValidator } from 'vue-dni'
import { mapGetters } from 'vuex'
import axios from 'axios'
import { Circle9 } from 'vue-loading-spinner'

export default {
  name: 'Form',
  components: {
    Circle9
  },
  data: () => ({
    lead: {
      car: '',
      name: '',
      surname: '',
      rut: '',
      telephone: '',
      commune: '',
      email: ''
    },
    loading: false,
    submitted: false
  }),
  created () {
    Validator.extend('rut', rutValidator)
    const url = (window.location != window.parent.location) ? document.referrer: document.location.href;
    console.log('This is ittt:', url)
  },
  methods: {
    validateBeforeSubmit (e) {
      e.preventDefault()
      this.loading = true

      this.$validator.validateAll().then(result => {
        if(result) {
          axios.post('https://formback.laboratoriodecontenidos.cl/api/lead/store', this.lead).then(response => {
            this.submitted = true
          }).catch(err => {
            this.loading = false
          })
        } else {
          this.loading = false
        }
      }).catch(err => {
        this.loading = false
      })
    }
  },
  computed: {
    ...mapGetters([
      'getCars',
      'getCommunes'
    ])
  }
}
</script>
<style scoped lang="scss">
  .form{
    height: 272px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 50%);
    width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
  .input{
    line-height: 1.42857143;
    font-size: 1em;
    height: 34px;
    outline: none;
    margin: 0;
    padding: 0 .5em;
    background: none;
    position: relative;
    box-shadow: none;
    display: block;
    background: none;
    border: 1px solid #456ea3;
    border-radius: 4px;
    white-space: normal;
  }
  .error{
    border-color: #9F3A38;
    background-color: lighten(#9F3A38, 50%);
  }
  .ok{
    border-color: #9aa744;
  }
  button{
    border: 1px solid #5ca3bd;
    border-radius: 10px;
    color: white;
    background-color: #5ca3bd;
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
  }
  .text-obligatory{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-error{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
  }
  .box-img{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .car{
    grid-column: 2 span;
  }
  .box-submit{
    padding: 0 15px;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 108px;
    p{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      font-size: 26px;
      line-height: 26px;
      padding: 5px 0;
    }

  }

  .loading,
  .submitteds{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slide-fade-enter-active {
    transition: all .2s ease;
  }
  .slide-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to{
    transform: translateX(30px);
    opacity: 0;
  }
</style>
