<template lang="pug">
  #app
    img(src="assets/img-citroen-top.jpg")
    Form
</template>

<script>
import Form from './components/Form.vue'

export default {
  name: 'app',
  components: {
    Form
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  img{
    max-width: 100%;
  }
}
.v-select .dropdown-toggle{
  border: 1px solid #456ea3;
}
.v-select .selected-tag{
  position: absolute;
  left: 5px;
}
</style>
